

body{ background-color : rgb(153,217,234);}
form{color: rgb(63,72,204);text-indent:50px; }
h1{ font-size:22px;color: rgb(63,72,204); text-indent:260px;}

label {display: inline-block; width:13em;}
#checkboxstyle{color:rgb(0,0,0); font-size:14px;}
#buttonstyle{text-align: center;}



