

body{ background-color : rgb(153,217,234);}
form{color: rgb(63,72,204);text-indent:150px; }
h1{ font-size:22px;color: rgb(63,72,204); text-indent:320px;}

label {display: inline-block; width:20em;}
#checkboxstyle{color:rgb(0,0,0); font-size:14px;}

.button1 {
	width:300px;
	font-size:20px;
	border-style: solid;
    border-color: rgb(63,72,204);
    border-width: 10px;
	background-color:  rgb(0,162,232);
	color:rgb(63,72,204);
	
	}

#buttonstyle{text-align: center ;}





