body{
 background-color : rgb(153,217,234);
 }

h1{
text-align: center; 
font-size:22px;
color: rgb(63,72,204); 
}

#gesamtbutton{
text-align:center;
}

button { 
background-color: rgb(0,162,232);
border-style: solid; 
border-color: rgb(63,72,204);
font-weight:bold; 
border-width: 5px;
height: 40px; 
width: 400px; 
text-align:center;

 }


button:hover {
background-color:rgb(63,72,204); 
}

button:visited{
background-color:rgb(63,72,204); 
}


#tabelle{
border-collapse:collapse;
margin-top: 20px; 
text-align:center;
margin-left: auto;
margin-right: auto;
color: rgb(63,72,204); 

}


#tabelleZwei{
border-collapse:collapse;
margin-top:-329px;
text-align:center;
margin-left: auto;
margin-right: auto;
color: rgb(63,72,204); 
}

th{
color: rgb(0,0,0);
border-color: rgb(63,72,204);
border-width: 5px;
border-collapse:collapse;
}

td{
border-width: 5px;
border-color: rgb(63,72,204);

}